body{
	margin:0px;
	padding:0px; 
}

#container{
	border: 2px solid;
    text-align: center;
    margin: 0px 400px;
    height: 300px;
}

/*#registrationform{
	border: 2px solid;
    text-align: center;
    margin: 0px 400px;
    height: 400px;
}*/